# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sdf
*.html
*.dll
*.tlog
Project3/Release/vc120.pdb
*.log
*.obj
Project3/Project3.vcxproj.filters
*.vcxproj
Project3/Debug/vc120.pdb
*.obj
*.sln
Project3.v12.suo
*.obj
*.obj
*.obj
*.obj
*.opensdf
Debug/stdout.txt
*.idb
Project3/SDL-1.2.15/include/close_code.h
*.gif
*.lib
Project3/SDL-1.2.15/README-SDL.txt
*.txt
Project3/ChessMain.c~
Project3/ChessMain.c~
Project3/ChessMain.c~
*.c~
Project3/Gui.c~
